[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "themes/alfred-solarized"]
	path = themes/alfred-solarized
	url = https://github.com/imkmf/alfred-solarized.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline
[submodule "maximum-awesome"]
	path = maximum-awesome
	url = https://github.com/square/maximum-awesome
[submodule "zsh/plugins/zsh-iterm-touchbar"]
	path = zsh/plugins/zsh-iterm-touchbar
	url = https://github.com/iam4x/zsh-iterm-touchbar
[submodule "themes/iTerm2-Color-Schemes"]
	path = themes/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
