[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = git@github.com:altercation/solarized.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "themes/alfred-solarized"]
	path = themes/alfred-solarized
	url = git@github.com:imkmf/alfred-solarized.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:erikw/tmux-powerline
[submodule "maximum-awesome"]
	path = maximum-awesome
	url = git@github.com:square/maximum-awesome
[submodule "zsh/plugins/zsh-iterm-touchbar"]
	path = zsh/plugins/zsh-iterm-touchbar
	url = git@github.com:iam4x/zsh-iterm-touchbar
[submodule "themes/iTerm2-Color-Schemes"]
	path = themes/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "powerlevel10k-media"]
	path = powerlevel10k-media
	url = git@github.com:romkatv/powerlevel10k-media.git
[submodule "zero"]
	path = zero
	url = git@github.com:zero-sh/zero.sh